.logo{
    width: 30%;
}
.container{
    padding: 0 150px;
}
.container-bg{
    background-color: #f0fff0;
    margin: 0 400px;
    padding-bottom: 1px;
    margin-bottom: 60px;

}
.sign-in-button{
    margin-top: 20px;
    background-color: #21B573;
    color: white;
    margin-left: -150px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    
}
.illustration img{
    width: 100%;
}
.container{
    margin-bottom: 80px;
}
.get-started-button{
    background-color: #21B573;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
}
.card img{
    width: 40%;
    padding-top: 30px;
}
.cards{
    background-color: #F8FFFB;
    border: none;
}
.students{
    box-shadow: 2px 2px 10px lightgray;
}
.online-card img{
    width: 100%;
    padding: 10px 10px;
}
.buy-course-button{
    background-color: #21B573;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px; 
}
.card-footer{
    border: none;
    background: none;
}
.man{
    margin: 0 100px;
}
footer p{
    text-align: center;
    margin: 50px 0;
    padding-bottom: 20px;
}